*{
    font-family: Arial, Helvetica, sans-serif;
    background-color:wheat;
}
.contenedor button
{
    background-color: blueviolet;
    color: aliceblue;
    border-radius:25px;
    border: none;
    display: block;
    margin-bottom: 10px;
    padding:5px 10px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
}
div{
    margin-bottom: 10px;
}
.contenedor{
    text-align: center;
}
input{
    border-color: bisque;
    border-radius: 5px;
    border-color: cadetblue;
}
button:hover{
    background-color:violet;
}
/*
.usuario input{
    float: right;
}

.password input{
    text-align: center;
    float: right;
}
.informacion{
    margin: auto;
    max-width: 30%;
}*/


